img {
    max-width: 100%;
    max-height: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

html {
    box-sizing: border-box;
}

body {
    background-image: url("./img/background.jpg");
}
/* 
    Heading of Game 
    - Number of stars 
    - Number of moves 
    - StopWatch
    - Reset Button
*/
.game-title {
    font-family: 'Luckiest Guy','cursive';
    font-size: 50px;
    text-align: center;
    color: rgb(59,103,158);
    margin: 0;
}

ul {
    list-style-type: none;
}

.stars {
    font-size: 2em;
    margin: 0;
    float: left;
    width: 25%;
}

.star {
    display: inline-block;
}

.option-bar {
    width: 100%;
    display: inline-block;
    color: rgb(59,103,158);
    margin: 0;
    text-align: right;

}

.moves {
    font-family: cursive;
    font-size: 1.5em;
    margin: 0;
    margin-left: 3%; 
    display: inline-block;
}

.stopwatch {
    font-family: cursive;
    width: 25%;
    display: inline-block;
    font-size: 1.5em;
}

.rep {
    float: right;
    width: 25%;
}
/* 
    Cards Area
*/

.container {
    width: 50%;
    margin: auto;
    margin-top: 0;
    height: 80%;
}

.game-deck {
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(59,103,158,1) 16%, rgba(43,136,217,1) 31%, rgba(32,124,202,1) 71%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(59,103,158,1) 16%,rgba(43,136,217,1) 31%,rgba(32,124,202,1) 71%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(59,103,158,1) 16%,rgba(43,136,217,1) 31%,rgba(32,124,202,1) 71%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 10px;
    -webkit-box-shadow: 13px 11px 66px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 11px 66px 10px rgba(0,0,0,0.75);
    box-shadow: 13px 11px 66px 10px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3%;
    align-items: center;
    height: 90%;


}

.card {
    width: 20%;
    height: 20%;
    background-color: silver;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    margin-bottom: 1%;
    -webkit-box-shadow: 9px 13px 37px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 13px 37px -12px rgba(0,0,0,0.75);
    box-shadow: 9px 13px 37px -12px rgba(0,0,0,0.75);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;



}

.card.show {
    transform: rotateY(180deg);
    transition-duration:  500ms;
}
.card.show.now img{
    display: unset;
}
.card.close {
transform: rotateY(-180deg);
transition-duration: 500ms;
}
.card img{
    display: none;
}
@keyframes no {
    25% {transform: translateX(2px);}
    50% {transform: translateX(-4px);}
    75% {transform: translateX(4px);}
    100%{transform: translateX(-2px);}
}
 .card.wrong {
    animation-name: no;
    animation-duration: 500ms;
  }

@keyframes yes {


    35%{transform: translateY(2px);}
    70%{transform: translateY(-4px);}
    100%{transform: translateY(2px);}
}
.card.showing.right{
    animation-name: yes;
    animation-duration: 500ms;
}

.card.showing img {
    display: unset;
    transform: rotateY(180deg);
}
/* 
    Modal that appear in case of finishing game
*/

.win-modal {
    display: none;
}
.win-modal.open {
    display: unset;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    border-radius: 5px;
    padding: 2%;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 10%;
    width: 40%;
    font-family: cursive;
    color: tomato;
    text-align: center;
}
.win-modal button {
    background-color: brown;
    border: none;
    padding: 15px 25px;
    margin-left: 5%;
    color: white;
    cursor: pointer;
}
.modal-stars {
    margin: 0;
}
.won {
    margin-left: 5%;
}
.modal-star {
    display : inline;
    font-size: 2em;
}
.won-time {
    font-size: 2em;
    margin-left: 5%;
}
.moves-no {
    margin-left: 5%;
    font-size: 2em;
}
.question {
    margin-left: 5%;
    font-size: 2em;
}

/* Media Queries */
@media screen and (min-width:320px) and (max-width:351px)
{
    .option-bar {
        margin: 0;
    }
    .container {
        width: 95%;
        margin-top: 0;
    }
    .game-title {
        font-size: 0.85em;
        margin: 0;
        margin-top: 3%;
        
    }
    .stars {
        font-size: 0.55em;
        width: 20%;
        margin: 0;
    }
    .moves {
        font-size: 0.55em;
        width: 20%;
        margin: 0;
    }
    .stopwatch {
        font-size: 0.55em;
        width: 20%;
        margin: 0;
    }
    .rep {
        cursor: pointer;
        width: 5%;
    }

}
@media screen and (min-width:352px) and (max-width:519px) {
    .option-bar {
        margin: 0;
    }
    .container {
        width: 95%;
        margin-top: 0;
    }
    .game-title {
        font-size: 1em;
        margin: 0;
        margin-top: 3%;
        
    }
    .stars {
        font-size: 0.75em;
        width: 15%;
        margin: 0;
    }
    .moves {
        font-size: 0.75em;
        width: 15%;
        margin: 0;
    }
    .stopwatch {
        font-size: 0.75em;
        width: 15%;
        margin: 0;
    }
    .rep {
       
        width: 5%;
    }
}


@media screen and (min-width:520px) and (max-width:700px) {
    .option-bar {
        margin: 0;
    }
    .container {
        width: 95%;
        height: 90%;
    }
    .game-title {
        font-size: 1.25em;
        margin-top: 3%;
    }
    .stars {
        font-size: 1.1em;
        width: 20%;
    }
    .moves {
        font-size: 1.1em;
        width: 20%;
    }
    .stopwatch {
        font-size:1.1em;
        width: 20%;
    }
    .rep {
        
        width: 5%;
    }
}

@media screen and (min-width:701px) and (max-width:1224px) {
    .container {
        width: 70%;
    }
    .game-title {
        font-size: 2em;
        margin-top: 3%;
    }
    .stars {
        font-size: 1.5em;
        width: 25%;
    }
    .moves {
        font-size: 1.5em;
        width: 25%;
    }
    .stopwatch {
        font-size:1.5em;
        width: 25%;
    }
    .rep {  
        width: 5%;
    }
}
